form {
    display: flex;
    flex-direction: column;
    gap: 24px;
}
form > div {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
form > div > label {
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--marine-blue);
}
form > div > input {
    color: var(--cool-gray);
    padding: 20px;
    font-size: 1.6rem;
    font-weight: 500;
    border-radius: 6px;
    height: 50px;
    border: 1px solid var(--light-gray);
    outline: none;
}
form > div > input:focus-visible {
    border-color: var(--purplish-blue);
}